/* Media Query untuk tampilan responsive  */
/* Untuk Leptop */
@media only screen and (min-width: 992px) {
  header {
    display: flex;
    align-items: center;
    height: 80px;
  }




  #judul-header {
    color: white;
    padding: 20px;
  }



  #navigasi {
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 30px;
  }

  #first-section-about-us {
    grid-column: 1;
    grid-row: 1;
    width: 500px;
  }

  #second-section-about-us {
    grid-column: 2;
    grid-row: 1;
    width: 500px;
  }

  #first-section-footer {
    grid-column: 1;
    grid-row: 1;
    /* width: 500px; */
  }

  #second-section-footer {
    grid-column: 2;
    grid-row: 1;
    /* width: 500px; */
  }

  #first-section {
    grid-column: 1;
    grid-row: 1;
    margin-right: 10px;
    width: 300px;
  }

  #second-section {
    grid-column: 2;
    grid-row: 1;
    margin-right: 10px;
    width: 300px;
  }

  #third-section {
    grid-column: 3;
    grid-row: 1;
    margin-right: 10px;
    width: 300px;
  }

  #four-section {
    grid-column: 4;
    grid-row: 1;
    width: 300px;
  }


  #five-section {
    grid-column: 1;
    grid-row: 2;
    width: 300px;
  }

  #six-section {
    grid-column: 2;
    grid-row: 2;
    width: 300px;
  }


  #first-section-team {
    grid-column: 1;
    grid-row: 1;
    margin-right: 10px;
    width: 200px;
  }

  #second-section-team {
    grid-column: 2;
    grid-row: 1;
    margin-right: 10px;
    width: 200px;
  }

  #third-section-team {
    grid-column: 3;
    grid-row: 1;
    margin-right: 10px;
    width: 200px;
  }


  #four-section-team {
    grid-column: 4;
    grid-row: 1;
    width: 200px;
  }

}

/* Untuk Tablet */
@media only screen and (min-width: 601px) and (max-width: 992px) {
  header {
    display: flex;
    align-items: center;
    height: 60px;
  }

  #judul-header {
    color: white;
    padding: 20px;
  }

  #navigasi {
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 30px;
  }

  #first-section-about-us {
    grid-column: 1;
    grid-row: 1;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 350px;
  }

  #second-section-about-us {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 10px;
    width: 350px;
  }

  #first-section {
    grid-column: 1 / span 5;
    grid-row: 1;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 200px;
  }

  #second-section {
    grid-column: 6 / span 6;
    grid-row: 1;
    margin-bottom: 10px;
    width: 200px;
  }

  #third-section {
    grid-column: 1 / span 5;
    grid-row: 2;
    margin-right: 10px;
    width: 200px;
  }

  #four-section {
    grid-column: 6 / span 6;
    grid-row: 2;
    margin-right: 10px;
    width: 200px;
  }

  #five-section {
    grid-column: 1 / span 5;
    grid-row: 3;
    margin-right: 10px;
    width: 200px;
  }

  #six-section {
    grid-column: 6 / span 6;
    grid-row: 3;
    width: 200px;
  }

}


/* Untuk Hp */
@media only screen and (max-width: 600px) {

  #judul-header {
    grid-column: 1;
    grid-row: 1;
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
  }


  #navigasi {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    justify-content: center;
  }


  #first-navigasi {
    grid-column: 1;
    grid-row: 1;
  }

  #second-navigasi {
    grid-column: 2;
    grid-row: 1;
  }

  #third-navigasi {
    grid-column: 3;
    grid-row: 1;
  }

  #four-navigasi {
    grid-column: 1;
    grid-row: 2;
  }

  #five-navigasi {
    grid-column: 2;
    grid-row: 2;
  }

  #first-section,
  #second-section,
  #third-section,
  #four-section,
  #five-section {
    margin-bottom: 10px;
  }
}