/* CSS INI UNTUK MENGATUR TAMPILAN DI HTML */

body {
  background-color: #F8F9FA;
}

/* untuk header */
header {
  background-color: #343A40;
}


#text-navigasi {
  color: #8E9295;
  margin-right: 20px;
}

#judul-header {
  color: white;
}

#introduction-section {
  display: grid;
  justify-content: center;
}

#text-introduction {
  padding: 20px;
  background-color: black;
  color: white;
}

#about-us-section,
#our-activity-section,
#our-team-section,
#our-stack-section {
  display: grid;
  justify-content: center;
}



#divider-heading {
  width: 100%;
  margin-bottom: 30px;
  height: 2px;
  background-color: black;
}

a {
  color: black;
  text-decoration: none;
}

#title-name {
  text-align: center;
}


#divider-about-us {
  width: 30%;
  height: 1px;
  background-color: black;
}

#description {
  font-size: large;
  text-align: justify;
}



.grid-container {
  display: grid;
  justify-content: center;
  margin-bottom: 70px;
}

.grid-container-about-us {
  display: grid;
  justify-content: space-around;
  margin-bottom: 70px;
}



/* Media Query untuk tampilan responsive  */
/* Untuk Leptop */
@media only screen and (min-width: 992px) {
  header {
    display: flex;
    align-items: center;
    height: 60px;
  }

  #judul-header {
    color: white;
    padding: 20px;
  }

  #navigasi {
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 30px;
  }

  #first-section-about-us {
    grid-column: 1;
    grid-row: 1;
    width: 500px;
  }

  #second-section-about-us {
    grid-column: 2;
    grid-row: 1;
    width: 500px;
  }

  #first-section-footer {
    grid-column: 1;
    grid-row: 1;
    /* width: 500px; */
  }

  #second-section-footer {
    grid-column: 2;
    grid-row: 1;
    /* width: 500px; */
  }

  #first-section {
    grid-column: 1;
    grid-row: 1;
    margin-right: 10px;
    width: 200px;
  }

  #second-section {
    grid-column: 2;
    grid-row: 1;
    margin-right: 10px;
    width: 200px;
  }

  #third-section {
    grid-column: 3;
    grid-row: 1;
    margin-right: 10px;
    width: 200px;
  }

  #four-section {
    grid-column: 4;
    grid-row: 1;
    width: 200px;
  }

  #five-section {
    grid-column: 1;
    grid-row: 2;
    width: 200px;
  }

  #six-section {
    grid-column: 2;
    grid-row: 2;
    width: 200px;
  }
}

/* Untuk Tablet */
@media only screen and (min-width: 601px) and (max-width: 992px) {
  header {
    display: flex;
    align-items: center;
    height: 60px;
  }

  #judul-header {
    color: white;
    padding: 20px;
  }

  #navigasi {
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 30px;
  }

  #first-section-about-us {
    grid-column: 1;
    grid-row: 1;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 350px;
  }

  #second-section-about-us {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 10px;
    width: 350px;
  }

  #first-section {
    grid-column: 1 / span 5;
    grid-row: 1;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 200px;
  }

  #second-section {
    grid-column: 6 / span 6;
    grid-row: 1;
    margin-bottom: 10px;
    width: 200px;
  }

  #third-section {
    grid-column: 1 / span 5;
    grid-row: 2;
    margin-right: 10px;
    width: 200px;
  }

  #four-section {
    grid-column: 6 / span 6;
    grid-row: 2;
    margin-right: 10px;
    width: 200px;
  }

  #five-section {
    grid-column: 1 / span 5;
    grid-row: 3;
    margin-right: 10px;
    width: 200px;
  }

  #six-section {
    grid-column: 6 / span 6;
    grid-row: 3;
    width: 200px;
  }

}


/* Untuk Hp */
@media only screen and (max-width: 600px) {

  #judul-header {
    grid-column: 1;
    grid-row: 1;
    padding-top: 20px;
    padding-left: 20px;
    text-align: center;
  }

  #navigasi {
    display: flex;
    grid-column: 1;
    grid-row: 2;
    justify-content: center;
  }



  #first-section,
  #second-section,
  #third-section,
  #four-section,
  #five-section {
    margin-bottom: 10px;
  }
}

#first-section,
#second-section,
#third-section,
#four-section,
#five-section,
#six-section,
#first-section-about-us,
#second-section-about-us {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  color: black;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #DBDBDC;
  margin-bottom: 20px;
}

#img-team {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 2px 2px 4px #DBDBDC;
}

#icon {
  margin-right: 20px;
}



/* Untuk Footer */
footer {
  background-color: white;
  color: black;
  align-items: center;
  padding: 20px;
  display: grid;
  text-align: center;
  box-shadow: 2px 2px 4px #DBDBDC;
}


#second-section-footer {
  color: #0F80FB;
}