body {
  background-color: #F8F9FA;
}

#divider-heading {
  width: 100%;
  margin-bottom: 30px;
  height: 2px;
  background-color: black;
}

a {
  color: black;
  text-decoration: none;
}

#title-name {
  text-align: center;
}

#divider-about-us {
  width: 30%;
  height: 1px;
  background-color: black;
}

#description {
  font-size: large;
  text-align: justify;
}

.grid-container {
  display: grid;
  justify-content: center;
  margin-bottom: 70px;
}

.grid-container-about-us {
  display: grid;
  justify-content: space-around;
  margin-bottom: 70px;
}

#about-us-section,
#our-activity-section,
#our-team-section,
#our-stack-section {
  display: grid;
  justify-content: center;
}

#title-team {
  text-align: center;
}


#first-section,
#first-section-team,
#second-section,
#second-section-team,
#third-section,
#third-section-team,
#four-section,
#four-section-team,
#five-section,
#six-section,
#first-section-about-us,
#second-section-about-us {
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  color: black;
  border-radius: 20px;
  box-shadow: 2px 2px 4px #DBDBDC;
  margin-bottom: 20px;
}




#img-logo,
#img-logo1,
#img-logo2 {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  background-color: white;
}






#img-team,
#img-work {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5%;
  box-shadow: 2px 2px 4px #DBDBDC;
}